games:
  -
    title: "Fae's Anatomy"
    category: "megagames"
    banner: "images/faes-banner.avif"
    status: "for_sale"
    summary: |
      In the near future magic has returned and everything seems peaceful in the land of Swanshire.

      A megagame of magic medicine and mischief.
    description: |
      Designed by John Keyworth, Patrick Rose and Holly Wall

      In the not too distant future, magic returns to the British Isles. Fæ emerge from under their hills and the world is forever changed.

      The demesne of Swanshire is a peaceful collection of communes on the coast. It has a thriving magically-active community and two world class hospitals… Swan’s Cliff and Wellspring Hospitals.

      Hospital Researchers have recently been complaining of a strange dissonance flowing through the local ley lines. It’s probably nothing.

      Previously ran through <a href="https://www.penninemegagames.co.uk/faes-anatomy.html">Pennine Megagames (2022)</a>, <a href="https://www.readingmegagames.com/fae-s-anatomy">Reading Megagames (2023)</a>, <a href="https://www.melbournemegagames.com/fae-s-anatomy">Melbourne Megagames (2023)</a> and <a href="https://www.facebook.com/events/1081144963121089/?active_tab=discussion">Adelaide Megagames (2024)</a>.

      **The game is available to purchase on ich.io.**
    link: "https://drugcrazed.itch.io/faes-anatomy"
    link_type: "purchase"
  -
    title: "The Raven Banner"
    category: "megagames"
    status: "for_sale"
    banner: "images/ravenbanner-banner.avif"
    summary: |
      A small megagame set during the 870s about the viking invasion of England and the establishment of Danelaw.
    description: |
      For decades Danish raiders have been pillaging the coasts of England, but recently the “Great Heathen Army” conquered the northernmost kingdom of Northumbria.

      As a Saxon aristocrat or Danish raider you will be fighting and negotiating to ensure the best future for yourselves in this chaotic and violent era.

      The Raven Banner is a megagame, although smaller and shorter than most. Players will be asked to use the game’s rules and negotiate with the other players in order to achieve goals provided to them on their unique player briefings. The overall aim of the game is to explore a historically plausible version of the 9th century Viking invasion of England.

      A game of The Raven Banner lasts approximately 3 hours and there are 12 to 16 players, plus 2 organisers who keep the game running smoothly.

      This game pack will give you everything you need to print out at home to play the game - facilitators and players guide, player sheets, maps and cards. It also contains files suitable for sending to professional printers for a nicer looking copy. You will also need 4 decks of cards and 16 six sided dice.
    options:
      -
        description: "The players guide is available to download for free."
        link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_a18e09953c1644b5a9561cd712bb7765.pdf"
        type: "download"
      -
        description: "The full game pack, fulfilled through DriveThruRPG, for £15."
        link: "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=jkeywo%40yahoo%2eco%2euk&lc=GB&item_name=The%20%Raven%20%Banner&amount=15%2e00&currency_code=GBP&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted"
        type: "purchase"
  -
    title: "Den of Wolves: New Eden"
    category: "megagames"
    status: "for_sale"
    banner: "images/neweden-banner.avif"
    summary: |
      A small megagame where players lead a space fleet of survivors fleeing a massive attack.
    description: |
      In this game you will play a member of a space fleet, survivors of a massive attack from the nation of Wolf - decimating and subjugating the other settled worlds. Together you will be trying to survive in space, flee further Wolf attacks and find a new home for your people - a New Eden.

      The game runs for 8 to 18 players over 3 to 4 hours, split into 8 turns. The game plays in real time, so managing your time and delegating tasks is an important part of the game.

      Each player will be assigned a role of one of the survivor fleet space ships and must work together to succeed. Each ship represents a team of players and each come from a different nation or colony from before the attack.

      Beware, however, Wolf planted agents throughout the colonies before the attack and it’s highly probable that some will be hiding amongst other players in the fleet.

      **December 2025 Update** - The game has been expanded with an optional 7th ship - the SANS Capybara - taking the player count up to 20.
    options:
      -
        description: "The players guide is available to download for free."
        link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_56c3cba05bee40f2b3cbb2a1da7e8351.pdf"
        type: "download"
      -
        description: "The full game pack, fulfilled through DriveThruRPG, for £30."
        link: "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=jkeywo%40yahoo%2eco%2euk&lc=GB&item_name=Den%20%of%20%Wolves:%20%New%20%Eden&amount=30%2e00&currency_code=GBP&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted"
        type: "purchase"
  -
    title: "Crisis: Mars"
    category: "megagames"
    status: "for_sale"
    banner: "images/crisismars-banner.avif"
    summary: |
      A small megagame centred around a Mars colony fighting to war for independance from Earth.
    description: |
      Crisis: Mars is a small 2 1/2 hour megagame for up to 18 players, played in small teams with an emphasis on negotiation and simple rules.

      The year is 2241 and humanity has colonised the inner solar system with space stations and mining in the asteroid belt, and a colony and terraforming project on Mars. In recent years a growing movement on Mars is pushing for independence from the Unified Nations of Earth and they have just gained a majority in the Martian senate. You will take the role of an actor on the edge of this brewing conflict. You will have limited opportunity to change its course but conflict gives you the chance to achieve your own goals.
    options:
      -
        description: "The players guide is available to download for free."
        link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_f680109ba26c4b258d63ac544d4b9656.pdf"
        type: "download"
      -
        description: "The full game pack, fulfilled through DriveThruRPG, for £15."
        link: "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=jkeywo%40yahoo%2eco%2euk&lc=GB&item_name=Crisis%20%Mars&amount=15%2e00&currency_code=GBP&button_subtype=services&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted"
        type: "purchase"
  -
    title: "Crisis: Black Swan"
    category: "megagames"
    status: "in_development"
    summary: |
      A small megagame centred around geopolitics, global disasters and the inexplicable.
    description: |
      *Black Swan [blæk swɒn]: an event that is impossible to predict and has a dramatic impact.*

      International relief efforts, civil wars, political tormoil - the world is in crisis and you will take on the role of a national or global leader trying to navigate it.

      ...and then something inexplicaable happens to make things worse.

      Can you work out what's going on, and make the right decisions? And can you push your own agenda forward at the same time?

      Crisis: Black Swan is a narrative focused game of geopolitics meeting the unknown. Deploy your limited resources wisely and creatively, cooperate or betray, and create a shared narrative that shapes the world's future.
  -
    title: "The Neutral Zone"
    category: "megagames"
    status: "in_development"
    summary: |
      Two great galactic powers have had an uneasy peace for decades, but how much longer can it last?
    description: |
      TBA
  -
    title: "Relics of the Fall"
    category: "megagames"
    status: "unavailable"
    banner: "images/relics-banner.avif"
    summary: |
      The old world is dead and after the fall is not a place for the faint of heart. Do you have what it takes to survive after the apocalypse?
    description: |
      The Indicus Wilds are a range of mountains that form a barrier between two great nations. To the north, the Steel Empire rules over a freezing desert with an iron fist and a spiked boot. To the south, the Silk City States form a trade network that spans from the deserts in the west to the jungles of the south east.

      Within the wilds themselves are the Wilder Societies. Nomads who have chosen to leave the security of Silk or Steel for the hardships and freedoms of the wild mountains. Here they answer to no master.

      The Steel Tsar claims the mountains and will not stand for “rebel scum” infesting his borders. Two legion, the Immortals and the Heretics have been dispatched to resolve this disgraceful situation.

      However, the societies have mastered the art of not being ruled. The terrain, their speed and their solidarity are their best defence. If that fails there are the Relic-Mechs.

      From the era before the End Time that broke the world, they may not be a match for an entire legion head-to-head but their lost technology and superior mobility makes them a thorn that is hard to ignore.

      Meanwhile the Silk Cities to the south just want to trade with their neighbours, they aren’t interested in external politics as long as the markets remain open. This disinterest should not be mistaken for weakness though.

      Relics of the Fall has been run through Reading Megagames (twice), Cambridge Megagames, South West Megagames (twice) and Pennine Megagames.
  -
    title: "Inkling"
    category: "boardgames"
    status: "for_sale"
    banner: "images/inkling.avif"
    summary: |
      Inkling is a word-based card game for 3-6 players which plays in 20 minutes.
    description: |
  -
    title: "Maskbreakers"
    category: "boardgames"
    status: "in_development"
    summary: |
    description: |
  -
    title: "Intrepid"
    category: "roleplaying"
    status: "for_sale"
    banner: "images/intrepid-banner.avif"
    summary: "You and your friends will collaborate to tell the epic stories of characters braving quests filled with glory and adventure. Take control of characters within that world and create it around them as you experience their loves and losses, failures and triumphs."
    description: |
      *...Desperate to maintain his immortality, a captain in the imperial army ventures deep into the uncharted jungle searching for the fabled Amulet of Blood!*

      Intrepid is a storytelling game for 3-5 players.

      You and your friends will collaborate to tell the epic stories of characters braving quests filled with glory and adventure. Take control of characters within that world and create it around them as you experience their loves and losses, failures and triumphs.

      *...An old woman, wise but frail, struggles through the blizzards of Eversnow Peak to find a power stolen from her!*

      The game contains complete instructions for how you and your friends can explore a fantasy world drawn from your imaginations; both in one-shot sessions that last a few hours and longer campaign games that take multiple sessions.

      *...A young water spirit looks on in horror at the smoking ruins that used to be her home, her mind filled with thoughts of death and vengeance!*

      **Winner of the London IndieMeet 2013 "Indie Game Darling" Award. Nominated for the UK Games Expo 2014 "Best Role-playing Game" Award.**

      The print book is a neat saddle-stitched digest with 52 black-and-white pages and you will also get a coupon for a free copy of the PDF.
    options:
          -
            description: "PDF from DriveThruRPG."
            cost: "£5.00"
            link: "https://www.drivethrurpg.com/en/product/121044/intrepid-a-storytelling-adventure?src=2077&products_id=121044"
            type: "purchase"

          -
            description: "Print Book (UK postage)"
            cost: "£10 + 1.80 P&P"
            link: "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=jkeywo%40yahoo%2eco%2euk&lc=GB&item_name=Intrepid%20%5bprint%20%2b%20UK%20postage%5d&amount=10%2e00&currency_code=GBP&button_subtype=services&shipping=1%2e80&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted"
            type: "purchase"

          -
            description: "Print Book (EU postage)"
            cost: "£10 + 5.05 P&P"
            link: "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=jkeywo%40yahoo%2eco%2euk&lc=GB&item_name=Intrepid%20%5bprint%20%2b%20UK%20postage%5d&amount=10%2e00&currency_code=GBP&button_subtype=services&shipping=5%2e05&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted"
            type: "purchase"

          -
            description: "Print Book (Other postage)"
            cost: "£10 + 7.20 P&P"
            link: "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=jkeywo%40yahoo%2eco%2euk&lc=GB&item_name=Intrepid%20%5bprint%20%2b%20UK%20postage%5d&amount=10%2e00&currency_code=GBP&button_subtype=services&shipping=7%2e20&bn=PP%2dBuyNowBF%3abtn_buynowCC_LG%2egif%3aNonHosted"
            type: "purchase"

  -
    title: "RPG Poems"
    category: "roleplaying"
    status: "free"
    banner: "images/rppoems-banner.avif"
    summary: "Roleplaying Poems are short, focused games that typically take less than 30 minutes to play."
    description: |
      Roleplaying Poems are short, focused games that typically take less than 30 minutes to play.
    options:
          -
            title: "The Life and Death of..."
            description: |
              A game to be played with a group of at least 3 friends while out for a walk. You will need something to use as a token you can easily pass around.
            
              Players use places and things they see on their walk as inspiration to describe an incident in someone's life,someone who you will follow from birth to death. Their life is touched by the peculiar.
            link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_ad369135ef7946dd966833f139872b7f.pdf"
            type: "download"
          -
            title: "Artefact"
            description: |
              A quick 5 minute game for exactly 3 players it requires some kind of timekeeping device to play.

              Written out of nostalgia for the double edged magical artefacts of Advanced Dungeons and Dragons players explore the consiquences of using dangerous items to solve problems.
            link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_e0d5ffa77854444ebb045aacb166c407.pdf"
            type: "download"
          -
            title: "Devils"
            description: |
              A game for 3 or more players (ideally 3-4) that takes about 20 minutes to play and requires a sheet of paper (or index card) and pen each.
              
              Devils follows the story of several people with problems who ask for devil for help, and the ill fated results.

              Inspired by <a href="https://appleofmyeye.bandcamp.com/track/devils">this song</a>.

            link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_aafb9ba598724d9197c5c9edc7409d4d.pdf"
            type: "download"
          -
            title: "Ghosts of the Drowned"
            description: |
              A game for 4 or more players that takes 20 minutes to play.

              You play the titular Ghosts of the Drowned as they gather and tell tales of their death.

              Inspired by <a href="https://appleofmyeye.bandcamp.com/track/ghosts-of-the-drowned">this song</a>.
            link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_1af74e10ff834606a50bf08c140b6f2f.pdf"
            type: "download"

  -
    title: "Annex"
    category: "roleplaying"
    status: "free"
    banner: "images/annex-banner.avif"
    summary: "Annex is a free roleplaying game based on the book Ancillary Justice and the mechanics are inspired by the Occupy movement’s hand signs."
    description: |
      Annex is a free roleplaying game that was play tested at London IndieMeet. The setting is based on the book Ancillary Justice and the mechanics are inspired by the Occupy movement’s hand signs.

      You don’t need to be familiar with the book, although reading at least the first two chapters will help (they are available as a free sample from Amazon, the one on Orbit’s website is only one chapter which isn’t enough to be helpful).
      
      Your group plays collectively as a single artificial intelligence that controls multiple Ancillary bodies. You, and at least 2 other players (preferably more), have been charged with bringing order to a recently conquered planet… spreading order and civilisation with military precision.

      The AI hive mind is simulated in play by using hand gestures that maintain consensus within the group. These are similar to those used by many activist groups (originally Occupy) for meetings and were easy to transfer into an RPG.

      After about 40 minutes of world building the game proceeds in a series of short stories, each around 40 minutes long until you want to stop. I takes at least 3 players but works better with more.
    link: "https://www.kiwigamedesign.co.uk/_files/ugd/9e54e1_aaca2a5fa1574bc9af0fd166aea356a2.pdf"
    link_type: "download"

  -
    title: "Intrepid Histories"
    category: "roleplaying"
    status: "on_hold"
    banner: "images/ih-banner.avif"
    summary: |
      Explore a historic journey, but set in an alternative history.

      Each scenario always follows the same journey, but the alternate history will be unique to your group.
    description: |
      Intrepid Histories is a storytelling game for 3-5 players that takes 2 to 2 1/2 hours to play.

      Explore a historic journey, but set in an alternative history.

      * Follow Napoleon's Grande Armee in the 1812 invasion of Russia.
      * Explore with Ferdinand Magellan on his circumnavigation of the globe.
      * March across the alps with Hanibal and his war elephants.
      * Embark on the Hajj with Mansa Musa.
      * Look for the lost tribe of the Yuezhi with Zhang Qian.
      * Hunt the Ripper through the streets of London.

      Each scenario always follows the same journey, but the alternate history will be unique to your group. Everythig you need to know about the real historic events will be provided by the scenario.

      This game has finished development, but final graphic design work is on hold.
